section {
  position: relative;
  top: 27px;
}

.titulo03 {
  text-align: center;
  margin: 5 5 5 5;
  position: relative;
  top: 6px;
}

.titulo03 h4 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  animation: slideInRight 1s ease-out forwards;
  opacity: 0;
  text-shadow: 0 0 7px #00d9ff;
}

@keyframes slideInRight {
  0% {
    transform: translatex(100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

.container-xxl {
  position: relative;
  top: 41px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0 0 52px 0;
  gap: 38px;
  text-align: justify;
  margin: auto;
}

.col {
  margin: 7px 7 7 7;
}

.col .titulos h5 {
  text-align: center;
  color: #ffbb00;
  font-weight: 300;
  transition: transform 0.5s ease;
}

.col .titulos h5:hover {
  transform: scale(1.1);
}

.grande {
  font-size: 400%;
}

.col .Muestra img {
  border: 0.5px solid rgb(0 93 255);
  border-radius: 20px;
  max-width: 137px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  filter: brightness(204%);
  box-shadow: 0 6px 10px rgb(0 0 0);
}

.col .Muestra img:hover {
  transform: rotate(-10deg);
}

.col p {
  font-weight: 263;
}

.col ul li {
  font-weight: 263;
}

hr {
  background: #8b5cf6;
  box-shadow: 0 0 10px #8b5cf6;
  height: 4px;
  margin: 20px 0;
  transition: all 0.5s ease;
  border-radius: 4px;
}

hr:hover {
  box-shadow: 0 0 50px #ffffff, 0 0 80px #00e1ff;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  section {
    top: 36px;
  }

  .titulo03 {
    top: -3px;
  }

  .container-xxl {
    padding: 0 20px 0 20px;
    gap: 40px;
    top: 13px;
    flex-direction: column;
  }

  .col .Muestra img {
    max-width: 113px;
    margin: 20px auto;
  }
}
