section {
  position: relative;
  top: 27px;
}

.titulo03 {
  text-align: center;
  margin: 5 5 5 5;
  position: relative;
  bottom: 10px;
}

.titulo03 h4 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  animation: slideInRight 1s ease-out forwards;
  opacity: 0;
  text-shadow: 0 0 7px #00d9ff;
}

@keyframes slideInRight {
  0% {
    transform: translatex(100%);
    opacity: 0;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

.container-xxl {
  position: relative;
  top: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0 0 52px 0;
  gap: 80px;
  text-align: justify;
  margin: auto;
}

.col .titulos h5 {
  text-align: center;
  color: #00e5ff;
  font-weight: 300;
  text-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.grande {
  font-size: 400%;
}

.col .Muestra img {
  max-width: 137px;
  display: block;
  margin: 0px auto;
  padding: 10px;
  filter: brightness(204%);
}

.col p {
  font-weight: 263;
}

.col ul li {
  font-weight: 263;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  section {
    top: 36px;
  }

  .titulo03 {
    bottom: 18px;
  }

  .container-xxl {
    padding: 0 20px 0 20px;
    gap: 40px;
    top: 1px;
    flex-direction: column;

  }
}
