@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins";
  box-sizing: content-box;
}

.container-xxl {
  position: relative;
  text-align: center;
  height: 18vh;
  top: 258px;
}

.imgIndex img {
  max-width: 216px;
}

.text {
  position: relative;
  padding: 0px;
  top: 320px;
  text-align: center;
}

.text h1 {
  display: contents;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: lighter;
  color: #ffffff;
  text-transform: inherit;
  margin: 0%;
  text-shadow: #00f7ff 2px 2px 2px;
}

.animated-hr {
  width: 0;
  height: 1px;
  margin: 10px auto;
  background: linear-gradient(90deg, #00f7ff, #ffffff);
  border: none;
  transition: width 1s ease-in-out;
}

body:hover .animated-hr {
  width: 40%;
}

.container {
  position: relative;
  display: flex;
  top: 336px;
  justify-content: space-around;
}

.container .button {
  padding: 5px 20px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  color: #001228;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 6px #00d9ff;
}

.container .button:hover {
  color: #230052;
  background: #00f7ff;
  box-shadow: 0 2px 6px #ffffff;
}

.img {
  position: fixed;
  max-width: 100px;
  top: 42%;
  opacity: 3%;
  margin: 0px;
  padding: 0px;
  z-index: -1;
}

.box div {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}

.box div:nth-child(1) {
  top: 10%;
  left: 30%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 20%;
  left: 40%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(3) {
  top: 50%;
  left: 70%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(4) {
  top: 80%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 35%;
  left: 25%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

.box div:nth-child(11) {
  top: 10%;
  left: 5%;
  animation: animate 5s linear infinite;
}

.box div:nth-child(12) {
  top: 30%;
  left: 10%;
  animation: animate 5s linear infinite;
}

.box div:nth-child(13) {
  top: 90%;
  left: 95%;
  animation: animate 5s linear infinite;
}

/*Animacion  al lod 15 div*/
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@media (max-width: 501px) {


  .container-xxl {
    top: 300px;
  }

  .imgIndex img {
    max-width: 150px;
  }

  .text h1 {
    font-size: 27px;
  }

  .box div {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.8);
  }

  .container .button {
    padding: 3px 20px;
    font-size: 15px;
    font-weight: 500;
  }

  .img {
    display: none;
  }

  .box div:nth-child(1) {
    top: 10%;
    left: 30%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(2) {
    top: 20%;
    left: 65%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(3) {
    top: 30%;
    left: 50%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(4) {
    top: 80%;
    left: 70%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(5) {
    top: 55%;
    left: 10%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(6) {
    top: 60%;
    left: 80%;
    animation: animate 12s linear infinite;
  }

  .box div:nth-child(7) {
    top: 60%;
    left: 46%;
    animation: animate 15s linear infinite;
  }

  .box div:nth-child(8) {
    top: 35%;
    left: 20%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(9) {
    top: 90%;
    left: 40%;
    animation: animate 9s linear infinite;
  }

  .box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
  }

  .box div:nth-child(11) {
    top: 10%;
    left: 5%;
    animation: animate 5s linear infinite;
  }

  .box div:nth-child(12) {
    top: 30%;
    left: 10%;
    animation: animate 5s linear infinite;
  }

  .box div:nth-child(13) {
    top: 75%;
    left: 20%;
    animation: animate 5s linear infinite;
  }
}

@media (min-width: 502px) and (max-width: 1024px) {
  .text h1 {
    font-size: 45px;
  }

  .box div {
    width: 25px;
    height: 25px;
    border: 4px solid rgba(255, 255, 255, 0.8);
  }

  .container .button {
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
  }

  .box div:nth-child(1) {
    top: 10%;
    left: 30%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(2) {
    top: 20%;
    left: 65%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(3) {
    top: 30%;
    left: 50%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(4) {
    top: 80%;
    left: 70%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(5) {
    top: 55%;
    left: 10%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(6) {
    top: 60%;
    left: 80%;
    animation: animate 12s linear infinite;
  }

  .box div:nth-child(7) {
    top: 60%;
    left: 46%;
    animation: animate 15s linear infinite;
  }

  .box div:nth-child(8) {
    top: 35%;
    left: 20%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(9) {
    top: 90%;
    left: 40%;
    animation: animate 9s linear infinite;
  }

  .box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
  }

  .box div:nth-child(11) {
    top: 10%;
    left: 5%;
    animation: animate 5s linear infinite;
  }

  .box div:nth-child(12) {
    top: 30%;
    left: 10%;
    animation: animate 5s linear infinite;
  }

  .box div:nth-child(13) {
    top: 75%;
    left: 20%;
    animation: animate 5s linear infinite;
  }
}
